* {
    margin: 0;
    padding: 0;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signup-form h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .form-group label {
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group select {
    padding: 5px;
    border-radius: 5px;
    border: none;
  }
  
  button[type="submit"] {
    padding: 10px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: darkorange;
  }